@()(implicit webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>
<body>
  <head>
    <title></title>
  </head>
  <body>
    <!-- Root div -->
    <div id="app">
    </div>

    <!-- External dependencies-->
    @webJarsUtil.locate("umd/react.development.js").script()
    @webJarsUtil.locate("umd/react-dom.development.js").script()
    @webJarsUtil.locate("babel.min.js").script()

    <!-- Local dependencies -->
    <script type="text/babel" src="@routes.Assets.versioned("javascripts/components/App.js")"></script>
    <script type="text/babel" src="@routes.Assets.versioned("javascripts/components/Welcome.js")"></script>
    <script type="text/babel" src="@routes.Assets.versioned("javascripts/components/About.js")"></script>
    
    <script type="text/babel">
      ReactDOM.render(<App />, document.querySelector('#app'))
    </script>
  </body>
</body>
